@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";
/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}
@include gridify(3, 0);
@include gridify(2, 400);
@include gridify(4, 600);
/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}
.pace-inactive {
    opacity: 0;
}
.pace-active {
    opacity: 1;
}
.pace .pace-progress {
    background: #2299dd;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transition: all 1s ease;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
html {
    height: 100%;
}
body {
    transition: opacity .25s ease;
    min-height: 100%;
}
.main {
    max-width: 35em;
    margin: 1em auto;
}
h6 {
    margin: .5em 0;
}
.time {
		position: relative;
    text-align: center;
    input[type=range] {
        width: 100%;
    }
    h6 {
        width: 3em;
        position: absolute;
        top: -.2em;
        &:first-of-type {
        	left: -3.5em;
        }
        &:last-of-type {
        	right: -3.5em;
        }
    }
}
.control {
    margin-bottom: 1rem;
    & > * {
    	vertical-align: middle;
    }
    input[type=checkbox] {
        display: none;
    }
    label {
    	text-align: center;
    }
}
div.volume {
    display: inline-block;
    text-align: center;
}
input.volume {
    display: block;
    width: 5em;
    margin: 0 auto;
}
label.volume {
		display: block;
}
.stats {
	h6 {
		display: inline-block;
		padding: 0 1em;
		&:first-child {
			padding-left: 0;
		}
	}
}